.fundoCadastro {
    background-image: url("https://ik.imagekit.io/ios4z1d4u/cropped-IMG_2922.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }