.fundoLogin {
    background-image: url("https://ik.imagekit.io/ios4z1d4u/eu.jpg?updatedAt=1737592186386");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}